*, body {
    padding: 0;
    margin: 0;
    font-family: 'Assistant';
    z-index: 0;
    font-size: 16px;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
html {
    font-size: 16px
}
button {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.header{
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 680px;
}
.header-elipse {
    position: absolute;
    width: 2650px;
    height: 1884px;
    top: -1259px;
    border-radius: 50%;
    background-color: black;
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    /* Second option */
    /* background-position: 17.6em 78.31em; */
    background-position: center 1253px  ;
    background-size: 75% 49%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    z-index: 0;
}
.grad {
    position: absolute;
    width: 100%;
    height: 600px;
    padding-bottom: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}
nav {
    width: 100vw;
    overflow: hidden;
    height: 98.5px;
    margin: 28.57px 80px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    z-index: 2;
}
@media screen and (min-width:1850px) {
    nav {
        width: 1770px;
        overflow: hidden;
        height: 98.5px;
        margin: 28.57px 80px;
        align-items: center;
        display:flex;
        justify-content: space-between;
        z-index: 2;
    }
}
.left-nav{
    display: flex;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
}
#header-button-red {
    cursor: pointer;
    width: 140px;
    height: 48px;
    background: #F15B62;
    border: none;
    border-radius: 80px;
    padding: 12px 43px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.language-select {
    width: fit-content;
    position: relative;
    align-items: center;
}
select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: none;
}
#dropdown {
    cursor: pointer;
    width: 46px;
    height: 26px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4.8px;
}
.header-icon {
    width: 121px;
    height: 50px;
    align-items: center;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.header-search-div{
    background-color: transparent;
    border: none;
    width: 28px;
    height: 43px;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bell-div{
    background-color: transparent;
    border: none;
    width: 38px;
    height: 43px;
    margin-left: 14px;
    margin-right: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-icon-text{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 3.04px;
}
.contacts {
    display: flex;
    align-items: center;
}
#phone-num {
    text-decoration: none;
    cursor: pointer;
    width: 106px;
    margin-left: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
#contact-text {
    text-decoration: none;
    cursor: pointer;
    margin-left: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.menu-div{
    cursor: pointer;
    padding: 10px 22px;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
}
#menu-div-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
#menu-text {
    margin-right: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}
#menu-icon {
    max-height: 14px;
    align-items: center;
}
#header-logo{
    cursor: pointer;
    padding-left: 72px;
}
.headers{
    margin-top: 186px;
    margin-left: 27.2%;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.headers h3 {
    direction: rtl;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FBFBFC;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
}
.headers h1 {
    overflow-y: hidden;
    max-width: 520px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 68px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
}
.header-expand {
    margin-right: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 17px; 
    display: flex;
    justify-content: flex-start;
}
.header-expand div {
    margin-left: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
}
.header-expand img {
    margin-top: 2px;

}
.search-bar {
   position: absolute;
   z-index: 5;
   margin-top: 559px;
   width: 600px;
   height: 80px;
   background: #FFFFFF;
   box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
   border-radius: 120px;   
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#search-button {
    cursor: pointer;
    margin-left: 24px;
    width: 140px;
    height: 48px;
    background: #596172;
    box-shadow: 0px 4px 14px rgba(15, 15, 15, 0.4);
    border-radius: 51.046px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
#search-text {
    border: none;
    width: 60%;
    height: 90%;
    margin-right: 24px;
    direction: rtl;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
    opacity: 0.8;
}

/* Get Started section -----------------------------------------------*/

.get-started {
    margin-top: 28.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start-header {
    direction: rtl;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    text-align: right;
    color: #010101;
}
.start-boxes{
    display: flex;
    align-items: center;
    gap: 18px;
    max-width: fit-content;
    height: 257px;
    padding: 0 44px;
}
.start-box {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    width: 145px;
    height: 174px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.box-text {
    overflow: hidden;
    position: absolute;
    text-align: center;
    margin-top: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #010101;;

}
#magnifier-icon {
    position: absolute;
    margin-top: 33px;
    margin-left: 22.88px;
    z-index: 1;
}
.box-text-3{
    line-height: 18px;
}
.box-text-5{
    line-height: 18px;
}

.icon-3{
    position: absolute;
    margin-top: 33px;
    z-index: 2;
}

.elipse-3{
    margin-top: 9.6px;
    width: 66px;
    height: 103px;
    border-radius: 50%;
    transform: rotate(45deg);
    background: #DEB3B3;
    z-index: 1;
}

/* News section -----------------------------------------------------*/

.news{
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    text-align: right;
    color: #010101;
}
.news-boxes {
    padding: 42px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.news-box {
    width: 302px;
    height: 382px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.news-box-img {
    margin-top: 16px;
    border-radius: 24px 24px 0 0;
    object-fit: cover;
    width: 276px;
    height: 214px;
    
}

.news-box-header {
    direction: rtl;
    margin-top: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: #000000;  
}
.news-box-p {
    margin-top: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    max-width: 244px;
}

.news-box-anchor {
    display: flex;
    align-items: flex-start;
}
.news-expand-icon {
    margin-top: 22px;
    margin-right: 6px;
}
.news-anchor {
    margin-top: 16px;
    direction: rtl;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #004990;
}

/* Facts Section ------------------------------------------------------*/

.facts{
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facts-smaller-header {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(1, 1, 1, 0.6);
}
.facts-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    color: #010101;
}
.fact-circles {
    width:100vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.circles-wrapper{ 
    width: 1445px;
    display: flex;
    justify-items: center;
}
.circle-1 {
    position: absolute;
    margin-top: 249px;
    margin-left: -87px;    ;
    border-radius: 50%;
    width: 207px;
    height: 207px;
    background: rgba(26, 15, 145, 0.05);
}
.circle-2 {
    position:absolute;
    margin-top: 42px;
    margin-left: 106px;
    border-radius: 50%;
    width: 258px;
    height: 258px;
    background: #144A92;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.circle-2-number {
    position: absolute;
    margin-top: 52px;
    font-style: normal;
    font-weight: 300;
    font-size: 68px;
    line-height: 89px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.circle-2-txt-1{
    position: absolute;
    margin-top: 127px;
    font-weight: 300;
    font-size: 33px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.circle-2-txt-2 {
    position: absolute;
    margin-top: 187px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.circle-3 {
    position: absolute;
    margin-top: 397px;
    margin-left: 162px;
    border-radius: 50%;
    width: 138px;
    height: 138px;
    background: rgba(89, 97, 114, 0.05);
}
.circle-4 {
    margin-top: 273px;
    margin-left: 367px;
    border-radius: 50%;
    width: 262px;
    height: 262px;
    background: #E8EDF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
.circle-4-number {
    position: absolute;
    margin-top: 59px;
    font-style: normal;
    font-weight: 300;
    font-size: 68px;
    line-height: 89px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #004990;
}
.circle-4-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 138px;
    font-weight: 300;
    font-size: 33px;
    line-height: 33px;
    color: #000000;
}
.circle-4-txt-2 {
    position: absolute;
    margin-top: 175px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.circle-5 {
    position: absolute;
    margin-top: 80px;
    margin-left: 627px;
    border-radius: 50%;
    width: 222px;
    height: 222px;
    background: #5B80B3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
.circle-5-number {
    position: absolute;
    margin-top: 30px;
    margin-left: 47px;
    font-style: normal;
    font-weight: 300;
    font-size: 68px;
    line-height: 89px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.circle-5-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 104px;
    margin-left: 38px;
    font-weight: 300;
    font-size: 33px;
    line-height: 43px;
    color: #FFFFFF;
}
.circle-5-txt-2 {
    position: absolute;
    margin-top: 146px;
    margin-left: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.circle-6 {
    position: absolute;
    margin-top: 88px;
    margin-left: 422px;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    background: rgba(0, 73, 144, 0.05);
}
.circle-7 {
    position: absolute;
    margin-top: 341px;
    margin-left: 719px;
    border-radius: 50%;
    width: 156px;
    height: 156px;
    background: rgba(232, 237, 244, 0.4);
}
.circle-8 {
    position: absolute;
    margin-top: 145px;
    margin-left: 902px;
    border-radius: 50%;
    width: 239px;
    height: 239px;
    background: #D0DBE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
.circle-8-number {
    position: absolute;
    margin-top: 42px;
    font-style: normal;
    font-weight: 300;
    font-size: 68px;
    line-height: 89px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #144A92;
}
.circle-8-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 116px;
    font-weight: 300;
    font-size: 33px;
    line-height: 43px;
    color: #144A92;
}
.circle-8-txt-2 {
    position: absolute;
    margin-top: 158px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 27px;
    color: #144A92;
}
.circle-9 {
    position: absolute;
    margin-top: 42px;
    margin-left: 1095px;
    border-radius: 50%;
    width: 103px;
    height: 103px;
    background: rgba(160, 215, 255, 0.15);
}
.circle-10 {
    position: absolute;
    margin-top: 425px;
    margin-left: 962px;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    background: rgba(29, 161, 242, 0.05);
}
.circle-11 {
    position: absolute;
    margin-top: 312px;
    margin-left: 1153px;
    border-radius: 50%;
    width: 206px;
    height: 206px;
    background: rgba(26, 15, 145, 0.05);
}
.circle-12 {
    position: absolute;
    margin-top: 22px;
    margin-left: 1240px;
    border-radius: 50%;
    width: 268px;
    height: 268px;
    background: #E8EDF4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.circle-12-number {
    position: absolute;
    margin-top: 61px;
    margin-left: 71px;
    font-style: normal;
    font-weight: 300;
    font-size: 68px;
    line-height: 89px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #004990;
}
.circle-12-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 135px;
    margin-left: 60px;
    font-weight: 300;
    font-size: 33px;
    line-height: 43px;
    color: #000000;
}
.circle-12-txt-2 {
    position: absolute;
    margin-top: 177px;
    margin-left: 72px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 27px;
    color: #000000;
}
.facts-button {
    margin-top: 8px;
    width: 180px;
    height: 48px;
    border: 2px solid #004990;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #004990;
    background: transparent ;
}

/* Customers */

.customers {
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.customers-smaller-header {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.customers-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 43.2px;
    text-align: center;
    color: #000000;
}
.customers-img{
    margin-top: -32px;
}
.feedback {
    overflow: hidden;
    direction: rtl;
    width: 540px;
    height: 92px;
    margin-top: -38.24px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}
.customers-buttons {
    padding: 25px;
    width: 426px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customers-button-volunteer{
    width: 204.75px;
    height: 62px;
    border: 2.5523px solid #F15B62;
    filter: drop-shadow(0px 4px 14px rgba(248, 173, 157, 0.4));
    border-radius: 51.046px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #F15B62;
    background-color: white
}
.customers-button-donate{
    width: 205px;
    height: 62px;
    background: #F15B62;
    border: 2.5523px solid #F15B62;
    box-shadow: 0px 4px 14px rgba(241, 91, 98, 0.4);
    border-radius: 51.046px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}


/* Explanatory section ------------------------------------------------*/

.explanatory{
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explanatory-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}
.video-wrapper {
    position: relative;
    margin-top: 42px;
    width: 960px;
    height: 540px;
    background: rgba(1, 1, 1, 0.2);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/Video.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -48px;
    z-index: 0;
}
.video-cover {
    position: absolute;
    width: 960px;
    height: 540px;
    background: rgba(1, 1, 1, 0.2);
    z-index: 1;
}
.play-icon {
    position: absolute;
    z-index: 2;
    border: none;
    background-color: transparent;
}

 /* Footer ----------------------------------------------------------- */

footer {
    margin-top: 124px;
    width: 100%;
    height: 703px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}
.reg-elipse-wrapper {
    display: flex;
    justify-content: center;
}
.registration-elipse-1 {
    position: absolute;
    margin-left: -57.6px;
    margin-top: 40px;
    width: 582px;
    height: 279px; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 0;
}
.registration-elipse-2 {
    position: absolute;
    margin-right: 1096px;
    margin-top: -33px;
    width: 582px;
    height: 279px; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(22.98deg);
    z-index:0
}
.registration-elipse-3 {
    position: absolute;

    margin-left: 1239px;
    margin-top: 115.2px;
    width: 582px;
    height: 279px; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 0;
}
.registration-elipse-4 {
    position: absolute;
    margin-left: 1268.8px;
    margin-top: -89px;
    width: 582px;
    height: 279px; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 1;
}
.registration-elipse-5 {
    position: absolute;
    margin-left: -649.6px;
    margin-top: -286px;
    width: 1505px;
    height: 722px; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 3;
}
.registration-elipse-6 {
    position: absolute;
    margin-left: 683.2px;
    margin-top: -355px;
    width: 1505px;
    height: 722px;  
    border-radius: 50%;
    background: #BEA7D9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(1.39deg);
    z-index: 2;
}
.reg-form {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px
}
form {
    padding: 48px 0 48px 80px;
    display: flex;
    width: 924px;
    align-items: center;
    justify-content: space-between;
}
.register-button{
    width: 192px;
    height: 48px;
    border: 1px solid #004990;
    background-color: transparent;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #004990;
}
.input {
    width: 316.8px;
    height: 51.2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 0.632166px solid #004990;
    border-radius: 40px;
    padding-right: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: rgb(0, 0, 0, 0.5);
}
.form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 81px;
    margin-left: 26px;
    margin-top: -5px;
}
.registration-smaller-text {
    direction: rtl;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #004990;
}
.registration-text {
    direction: rtl;
    margin-top: -4.8px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #004990;
}

/* Footer Info */

.footer-info {
    display: flex;
    justify-content: center;    
    width: 100%;
    height: 358px;
    background: rgba(36, 60, 204, 0.05);
}
.footer-left-info{
    display: flex;
}
.footer-right-info {
    margin-right: -52.8px;
    margin-left: 131.2px;
    display: flex;
    gap:22px
}
.info-header, .contr-header, .contact-header, .follow-header {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    letter-spacing: -0.02em;

    color: #000000;
}
.info-div {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.div-1, .div-2, .div-3, .contact-info{
    width: 194px;
    margin-top: 56px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width: 22px;
    height: 1px;
    background: #004990;
    border-radius: 20px    
}  
.contact-line {
    margin-top: 16px;
}
.contact-div {
    margin-top: 16px;
}
.number {
    margin-top: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: right;
    color: #004990;
}
.follow-header{
    margin-top: 24px;
}
.social-icons{
    cursor: pointer;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 164px;

}
.contribution-div {
    margin-top: 56px;
    max-width: 245px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contr-button {
    width: 198px;
    height: 48px;
    background: #F15B62;
    border: 2px solid #F15B62;
    box-shadow: 0px 4px 14px rgba(241, 91, 98, 0.4);
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.contr-div {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
}
.contr-button {
    margin-top: 15px;
}
.badge-icons {
    cursor: pointer;
    margin-top: 18px;
    display: flex;
    align-items: center;
}
.contr-icon {
    margin-left: 8px;
}

/* Copyright */
.copyright-info {
    width: 100%;
    height: 185px;
    background: #EDEEF8;
    display: flex;
    justify-content: space-between;
}
.copyright-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.copyright-text {
    margin-top: 32px;
    width: 683px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #000000;
}
.rights{
    display: flex;
    justify-content: flex-end;
    margin-top: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.02em;

    color: #000000;
}
.copyright-wrapper {
    padding-right: 81px;
}
.powered {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-right: 6.4px;
}
.rights img {
    margin-right: 8px;
}
.horizontal-line{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}
.copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    direction: rtl;
    padding-left: 9.6px;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    margin-left: 118px;
}
.footer-icons-header {
    direction: rtl;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}
.footer-icons-wrapper {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
.icon-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
}
.footer-icon-2 {
    margin-right: 3.74px;
}
.footer-icon-3 {
    margin-right: 7.74px;
}
.icon-1-wrap {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-2-wrap {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-2-text {
    margin-left: -4px;
    margin-top: -1px;
}
.icon-3-wrap {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-3-text {
    margin-left: -7px
}
.icon-4-wrap {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Elipses */

.big-elipse-1 {
    z-index: -1;
    position: absolute;
    margin-top: 685px;
    right: 0.8px;
}
.big-elipse-2 {
    z-index: -1;
    position: absolute;
    top: 1672.8px;
    left: -1.76px;
}
.big-elipse-3 {
    z-index: -1;
    position: absolute;
    top: 2849px;
    right: 7.04px;
}
