*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Assistant';
}
html {
    font-size: 16px
}
.header{
    display: flex;
    justify-content: center;
}
.header-elipse {
    position: absolute;
    width: 165.63em;
    height: 118.63em;
    top: -78.31em;
    border-radius: 50%;
    background-color: black;
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-position: 17.6em 78.31em;
    background-size: 71.8% 49%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
    z-index: 0;
}
.background-img {
    position: absolute;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 0;
}
.grad {
    position: absolute;
    width: 100vw;
    height: 39.94em;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}
nav {
    z-index: 3;
    width: 100%;
    height: 6.13em;
    padding: 1.81em 5.00em;
    align-items: center;
    display:flex;
    justify-content: space-between;
}
.left-nav{
    display: flex;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
}
#header-button-red {
    width: 8.75rem;
    height: 3.00rem;
    background: #F15B62;
    border: none;
    border-radius: 5.00rem;
    padding: 0.75rem 2.69rem;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
#dropdown {
    width: 2.88em;
    height: 1.63em;
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.header-icon {
    width: 7.56em;
    height: 3.13em;
    align-items: center;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.header-search-div{
    width: 1.75em;
    height: 2.69em;
    margin-left: 1.38em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bell-div{
    width: 2.38em;
    height: 2.69em;
    margin-left: 0.88em;
    margin-right: 1.19em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-div img {
    max-width: 1.5em;
    max-height: 1.5em;
}
.header-icon-text{
    height: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: white;
    margin-top: 0.19rem;
}

.contacts {
    display: flex;
    align-items: center;
}
#phone-num {
    width: 6.63rem;
    margin-left: 1.50rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.63rem;
    text-align: center;
    letter-spacing: -0.008em;;
    color: #FFFFFF;
}
#contact-text {
    margin-left: 0.88rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.63rem;
    text-align: center;
    letter-spacing: -0.008em;
    color: #FFFFFF;
}
.menu-div{
    padding: 0.63em 1.38em;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5rem;
}
#menu-div-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
#menu-text {
    margin-right: 0.63em;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}
#menu-icon {
    max-height: 0.88em;
    align-items: center;
}
#header-logo{
    padding-left: 4.50em;
}
.headers{
    margin-top: 11.63em;
    margin-left: 27.2%;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.headers h3 {
    direction: rtl;
    font-style: normal;
    font-weight: 400;
    font-size: 1.50rem;
    line-height: 1.94rem;
    letter-spacing: -0.02em;
    color: #FBFBFC;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
}
.headers h1 {
    overflow-y: hidden;
    max-width: 32.50rem;
    font-style: normal;
    font-weight: 500;
    font-size: 4.00rem;
    line-height: 4.25rem;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
}
.header-expand {
    margin-top: 1em; 
    display: flex;
    justify-content: flex-start;
}
.header-expand div {
    margin-left: 0.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.47rem;
    display: flex;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
}
.header-expand img {
    margin-top: 0.13em;

}
.search-bar {
   position: absolute;
   z-index: 5;
   margin-top: 34.94em;
   width: 37.50em   ;
   height: 5.00em;
   background: #FFFFFF;
   box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
   border-radius: 7.50em;   
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#search-button {
    margin-left: 1.50rem;
    width: 8.75rem;
    height: 3.00rem;
    background: #596172;
    box-shadow: 0px 4px 14px rgba(15, 15, 15, 0.4);
    border-radius: 3.19rem;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.50rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
#search-text {
    margin-right: 1.5rem;
    direction: rtl;
    font-weight: 400;
    font-size: 1.50rem;
    line-height: 1.96rem;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #000000;
    
    opacity: 0.5;    
}

/* Get Started section */
.get-started {
    margin-top: 34.56em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start-header {
    direction: rtl;
    font-style: normal;
    font-weight: 600;
    font-size: 1.88rem;
    line-height: 2.88rem;
    text-align: right;
    color: #010101;    
}
.start-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88.8%;
    height: 16.06em;
    padding: 0 2.75em;
}
.start-box {
    position: relative;
    width: 9.06em;
    height: 10.94em;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.box-text {
    position: absolute;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.5rem;
    margin-top: 7.50rem;
    text-align: center;
    color: #010101;

}
#magnifier-icon {
    position: absolute;
    margin-top: 2.06em;
    margin-left: 1.43em;
}
.icon-1 {
    align-self: flex-end;
}
.box-text-3{
    line-height: 1em;
}
.box-text-5{
    line-height: 1em;
}

.icon-3{
    position: absolute;
    margin-top: 2.06em;
    z-index: 2;
}

.elipse-3{
    margin-top: 0.6em;
    width: 4.13em;
    height: 6.44em;
    border-radius: 50%;
    transform: rotate(45deg);
    background: #DEB3B3;
    z-index: 1;
}

/* News section */
.news{
    margin-top: 5.19em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news-header {
    font-style: normal;
    font-weight: 600;
    font-size: 1.88rem;
    line-height: 2.88rem;
    text-align: right;
    color: #010101;
}
.news-boxes {
    padding: 2.63em 5em;
    width: 88.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-box {
    width: 18.88em;
    height: 23.88em;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.news-box-img {
    margin-top: 1em;
    border-radius: 1.5em 1.5em 0 0;
    object-fit: cover;
    width: 17.25em;
    height: 13.38em;
    
}

.news-box-header {
    direction: rtl;
    margin-top: 1.38rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.63rem;
    text-align: center;
    color: #000000;    
}
.news-box-p {
    margin-top: 0.38rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.00rem;
    line-height: 1.31rem;
    text-align: center;
    max-width: 15.25rem;
}

.news-box-anchor {
    display: flex;
    align-items: flex-start;
}
.news-expand-icon {
    margin-top: 1.38em;
    margin-right: 0.38em;
}
.news-anchor {
    margin-top: 1rem;
    direction: rtl;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 1.50rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #004990;
}

/* Facts Section */

.facts{
    margin-top: 5.13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.facts-smaller-header {
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.50rem;
    text-align: center;
    color: rgba(1, 1, 1, 0.6);  
}
.facts-header {
    font-style: normal;
    font-weight: 600;
    font-size: 1.88rem;
    line-height: 2.88rem;   
    text-align: center;  
    color: #010101;    
}
.circles-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.circle-1 {
    position: absolute;
    margin-top: 15.56em;
    margin-left: -5.44em;
    border-radius: 50%;
    width: 12.94em;
    height: 12.94em;
    background: rgba(26, 15, 145, 0.05);
}
.circle-2 {
    position:absolute;
    margin-top: 2.63rem;
    margin-left: 6.63rem;
    border-radius: 50%;
    width: 16.13rem;
    height: 16.13rem;background: #144A92;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.circle-2-number {
    position: absolute;
    margin-top: 3.31rem;
    font-style: normal;
    font-weight: 300;
    font-size: 4.25rem;
    line-height: 5.56rem;
    color: #FFFFFF;
}
.circle-2-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 8.4rem;
    font-weight: 300;
    font-size: 2.06rem;
    line-height: 2.69rem;
    color: #FFFFFF;
}
.circle-2-txt-2 {
    position: absolute;
    margin-top: 10.56rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.31rem;
    line-height: 1.69rem;
    color: #FFFFFF;
}
.circle-3 {
    position: absolute;
    margin-top: 24.81em;
    margin-left: 10.13em;
    border-radius: 50%;
    width: 8.63em;
    height: 8.63em;
    background: rgba(89, 97, 114, 0.05);
}
.circle-4 {
    margin-top: 17.06em;
    margin-left: 22.94em;
    border-radius: 50%;
    width: 16.38em;
    height: 16.38em;
    background: #E8EDF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
.circle-4-number {
    position: absolute;
    margin-top: 3.69rem;
    font-style: normal;
    font-weight: 300;
    font-size: 4.25rem;
    line-height: 5.56rem;
    color: #004990;
}
.circle-4-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 8.38rem;
    font-weight: 300;
    font-size: 2.06rem;
    line-height: 2.69rem;
    color: #000000;
}
.circle-4-txt-2 {
    position: absolute;
    margin-top: 10.94rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.31rem;
    line-height: 1.69rem;
    color: #000000;
}
.circle-5 {
    position: absolute;
    margin-top: 5em;
    margin-left: 39.19em;
    border-radius: 50%;
    width: 13.88em;
    height: 13.88em;
    background: #5B80B3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
.circle-5-number {
    position: absolute;
    margin-top: 1.88rem;
    margin-left: 2.94rem;
    font-style: normal;
    font-weight: 300;
    font-size: 4.25rem;
    line-height: 5.56rem;
    color: #FFFFFF;
}
.circle-5-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 6.50rem;
    margin-left: 2.38rem;
    font-weight: 300;
    font-size: 2.06rem;
    line-height: 2.69rem;
    color: #FFFFFF;
}
.circle-5-txt-2 {
    position: absolute;
    margin-top: 9.13rem;
    margin-left: 3.13rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.31rem;
    line-height: 1.69rem;
    color: #FFFFFF;
}
.circle-6 {
    position: absolute;
    margin-top: 5.50em;
    margin-left: 26.38em;
    border-radius: 50%;
    width: 8.88em;
    height: 8.88em;
    background: rgba(0, 73, 144, 0.05);
}
.circle-7 {
    position: absolute;
    margin-top: 21.31em;
    margin-left: 44.94em;
    border-radius: 50%;
    width: 9.75em;
    height: 9.75em;
    background: rgba(232, 237, 244, 0.4);
}
.circle-8 {
    position: absolute;
    margin-top: 9.06em;
    margin-left: 56.38em;
    border-radius: 50%;
    width: 14.94em;
    height: 14.94em;
    background: #D0DBE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
.circle-8-number {
    position: absolute;
    margin-top: 2.63rem;
    font-style: normal;
    font-weight: 300;
    font-size: 4.25rem;
    line-height: 5.56rem;
    color: #144A92;
}
.circle-8-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 7.25rem;
    font-weight: 300;
    font-size: 2.06rem;
    line-height: 2.69rem;
    color: #144A92;
}
.circle-8-txt-2 {
    position: absolute;
    margin-top: 9.88rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.31rem;
    line-height: 1.69rem;
    color: #144A92;
}
.circle-9 {
    position: absolute;
    margin-top: 2.63em;
    margin-left: 68.44em;
    border-radius: 50%;
    width: 6.44em;
    height: 6.44em;
    background: rgba(160, 215, 255, 0.15);
}
.circle-10 {
    position: absolute;
    margin-top: 26.56em;
    margin-left: 60.31em;
    border-radius: 50%;
    width: 6.13em;
    height: 6.13em;
    background: rgba(29, 161, 242, 0.05);
}
.circle-11 {
    position: absolute;
    margin-top: 19.50em;
    margin-left: 72.06em;
    border-radius: 50%;
    width: 12.88em;
    height: 12.88em;
    background: rgba(26, 15, 145, 0.05);
}
.circle-12 {
    position: absolute;
    margin-top: 1.38em;
    margin-left: 77.50em;
    border-radius: 50%;
    width: 16.75em;
    height: 16.75em;
    background: #E8EDF4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.circle-12-number {
    position: absolute;
    margin-top: 3.81rem;
    margin-left: 4.44rem;
    font-style: normal;
    font-weight: 300;
    font-size: 4.25rem;
    line-height: 5.56rem;
    color: #004990;
}
.circle-12-txt-1{
    position: absolute;
    font-style: normal;
    margin-top: 8.44rem;
    margin-left: 3.75rem;
    font-weight: 300;
    font-size: 2.06rem;
    line-height: 2.69rem;
    color: #000000;
}
.circle-12-txt-2 {
    position: absolute;
    margin-top: 11.06rem;
    margin-left: 4.50rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.31rem;
    line-height: 1.69rem;
    color: #000000;
}
.facts-button {
    margin-top: 0.5rem;
    width: 11.25rem;
    height: 3rem;
    border: 2px solid #004990;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.50rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #004990;
    background: transparent ;
}

/* Customers */

.customers {
    margin-top: 7.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.customers-smaller-header {
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.50rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.customers-header {
    font-style: normal;
    font-weight: 600;
    font-size: 1.88rem;
    line-height: 2.7rem;
    text-align: center;
    color: #000000;
}
.customers-img{
    margin-top: -2em;
}
.feedback {
    direction: rtl;
    width: 33.75rem;
    height: 5.75rem;
    margin-top: -2.39rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.50rem;
    line-height: 1.94rem;
    text-align: center;
    color: #000000;
}
.customers-buttons {
    margin-top: 1.56em;
    width: 26.61em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customers-button{
    width: 12.8rem;
    height: 3.88rem;
    border: 0.16rem solid #F15B62;
    filter: drop-shadow(0px 4px 14px rgba(248, 173, 157, 0.4));
    border-radius: 3.19rem;
    font-weight: 700;
    font-size: 1.50rem;
    line-height: 1.94rem;
    text-align: center;
    letter-spacing: -0.02em;
}
.volunteer{
    background-color: transparent;
    color: #F15B62;
}
.donate {
    background-color: #F15B62;
    color: #FFFFFF;
}

/* Explanatory section */

.explanatory{
    margin-top: 7.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explanatory-header {
    font-style: normal;
    font-weight: 600;
    font-size: 1.88rem;
    line-height: 2.88rem;
    text-align: center;
    color: #000000;
}
.video-wrapper {
    position: relative;
    margin-top: 2.63em;
    width: 60.00em;
    height: 33.75em;
    background: rgba(1, 1, 1, 0.2);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/Video.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0em -3em;
    z-index: 0;
}
.video-cover {
    position: absolute;
    width: 60.00em;
    height: 33.75em;
    background: rgba(1, 1, 1, 0.2);
    z-index: 2;
}
.play-icon {
    position: absolute;
    z-index: 1;
}

/* Footer */
footer {
    margin-top: 7.75em;
    width: 100%;
    height: 43.94em;
}
.registration {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 10.00em;
    display: flex;
}
.registration-elipse-1 {
    position: absolute;
    margin-left: -7.31em;
    margin-top: -2.06em;
    width: 36.38em;
    height: 17.44em; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(22.98deg);
    z-index: 0;
}
.registration-elipse-2 {
    position: absolute;
    margin-left: 25.06em;
    margin-top: 2.44em;
    width: 36.38em;
    height: 17.44em; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index:0
}
.registration-elipse-3 {
    position: absolute;
    margin-left: 65.44em;
    margin-top: 7.19em;
    width: 36.38em;
    height: 17.44em; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 0;
}
.registration-elipse-4 {
    position: absolute;
    margin-left: 66.50em;
    margin-top: -5.56em;
    width: 36.38em;
    height: 17.44em; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 1;
}
.registration-elipse-5 {
    position: absolute;
    margin-left: -22.31em;
    margin-top: -17.88em;
    width: 94.06em;
    height: 45.13em; 
    border-radius: 50%;
    background: #A6BDD9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(34.14deg);
    z-index: 3;
}
.registration-elipse-6 {
    position: absolute;
    margin-left: 19.38em;
    margin-top: -22.19em;
    width: 94.06em;
    height: 45.13em; 
    border-radius: 50%;
    background: #BEA7D9;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    transform: rotate(1.39deg);
    z-index: 2;
}
.reg-form {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 10.00em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    padding: 3em 0 3em 5em;
    display: flex;
    width: 57.75em;
    align-items: center;
    justify-content: space-between;
}
.register-button{
    width: 12.00rem;
    height: 3rem;
    border: 1px solid #004990;
    background-color: transparent;
    border-radius: 2.50rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #004990;
}
.input {
    width: 19.8rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 0.632166px solid #004990;
    border-radius: 40px;
    padding-right: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.31rem;
    text-align: right;
    color: rgb(0, 0, 0, 0.5);
}
.form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 5.06em;
    margin-top: -0.31em;
}
.registration-smaller-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.31rem;
    color: #004990;
}
.registration-text {
    margin-top: -0.3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.94rem;
    text-align: right;

    color: #004990;

}
